
    <div class="col-xs-12 col-md-3">
        <div class='product-box cut'>
            <div class = 'product-title'>
                <%= link_to product.name, product %>
            </div>
            <%= image_tag(product.image_url, class: "img-fluid") if product.image_url %>
            <p> Description: <%= product.description %></p>
            <p> Colour: <%= product.colour %></p>
            <p> Price: $ <%= product.price %></p>
        </div>
    </div><!-- /col -->
